<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431796567127-ou8d8kd9e0j7frvt944vrr68s1cu9r1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431796567127-ou8d8kd9e0j7frvt944vrr68s1cu9r1c</string>
	<key>API_KEY</key>
	<string>AIzaSyAlWkv6U69UICT3nJ2Wuh6ACpDLMDUgWp8</string>
	<key>GCM_SENDER_ID</key>
	<string>431796567127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentAuthentication</string>
	<key>PROJECT_ID</key>
	<string>phoneauthentication-c2483</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthentication-c2483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431796567127:ios:b10c6613ea6019cbf3f712</string>
</dict>
</plist>